/*
    Hello bitches !!!
    License: MIT
    Author: Petr Nagy (https://twitter.com/petrnagy)
    More at https://getafuckingremotejob.xyz/readme.md
*/

._pointer { cursor: pointer; }
._start { border-top: 1px solid rgba(255,255,255,.25); padding-top: 50px; }
._btn-start img { height: 20px; margin-top: -2px; }
._bg { position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: -1; background-image: url(img/earthv2.jpg); background: linear-gradient(rgba(43,62,80,.8), rgba(43,62,80,.99)), url(img/earthv2.jpg); background-repeat: no-repeat; background-position-x: center; background-size: cover; }
._slide { min-height: 100vh; display: flex; align-items: center; justify-content: center; }
._text-gray { color: #c1c1c1; }
/* body.is-desktop ._job:hover td a._link, body.is-desktop ._job:hover th a._link { pointer-events: none; } */
tr._job td ._desc { min-height: 30px; min-width: 200px; }
._job ._label-diff.days { background-color: #5cb85c; }
._job ._label-diff.weeks { background-color: #5bc0de; }
._job ._label-diff.months { background-color: #DF691A; right: -30px; }
._job ._label-diff.years { background-color: #d9534f }
._job img._external { height: 15px; position: relative; top: -5px; left: 0px; opacity: .75; }
._h2 { margin: 25px 0; padding-left: 10px; }
._footer { border-top: 1px solid rgba(255,255,255,.25); padding-top: 50px; margin-top: 50px; }
._anchor { color: rgba(0, 123, 255, 0.33) !important; text-decoration: none !important; }
body.is-desktop ._anchor:hover { filter: brightness(150%); text-decoration: none; }
th ._anchor { position: absolute; left: -10px; }
._thin { font-weight: 300 !important; }
._btn-help { position: absolute; right: 215px; top: 10px; }
._btn-help img { height: 20px; margin-top: -3px; margin-left: 3px; }
._btn-workplacelist { position: absolute; right: 10px; top: 10px; }
._btn-outline-white { color: #EBEBEB; border-color: #EBEBEB; }
body.is-desktop ._btn-outline-white:hover { background-color: gray; }
._relative { position: relative; }
._menu { position: absolute; left: 50%; bottom: 100px; }
._back-to-top { position: absolute; right: 0; top: -35px; }
table ._fourth a:not(:hover) { text-decoration: none; }
/* body.is-desktop table ._job:hover ._fourth a { font-size: 125%; } */
body.is-desktop table ._job:not(:hover) ._desc { opacity: .5; }
._quick-nav { font-weight: bold; margin-top: 10px; display: inline-block; }
table ._first { width: 150px; min-width: 150px; }
table ._third { width: 100px; min-width: 100px; }
table ._fourth { width: 175px; min-width: 175px; }
table ._first, table ._second, table ._third, table ._fourth { vertical-align: middle; }
._only-floating { display: none; }
body:not(._is-scrolled) ._only-scrolled { display: none; }
body._is-scrolled ._hidden-on-scrolled { display: none; }
body._is-scrolled ._menu { background-color: #2B3E50; position: fixed; top: 0; left: 0; right: 0; height: 30px; text-align: center; padding: 5px 20px; z-index: 100; box-shadow: 1px 1px 11px 3px rgba(0,0,0,0.25);  }
body._is-scrolled ._menu ._only-floating { display: initial; }
body._is-scrolled ._menu ._margin { margin: 0 20px; }
body._is-scrolled ._menu .hidden-md-up,
body._is-scrolled ._menu ._quick-nav,
body._is-scrolled ._menu br { display: none; }

._engineering { background: linear-gradient(rgba(43,62,80,.7), rgba(43,62,80,.7)), url(img/jobs/w1044/code-1839406_1920--w1044.jpg);  }
._marketing { background: linear-gradient(rgba(43,62,80,.7), rgba(43,62,80,.7)), url(img/jobs/w1044/laptop-charts-and-graphs--w1044.jpg); }
._design { background: linear-gradient(rgba(43,62,80,.7), rgba(43,62,80,.7)), url(img/jobs/w1044/ui-specialist--w1044.jpg); }
._deskjob { background: linear-gradient(rgba(43,62,80,.7), rgba(43,62,80,.7)), url(img/jobs/w1044/content-creator--w1044.jpg); }
._consulting { background: linear-gradient(rgba(43,62,80,.7), rgba(43,62,80,.7)), url(img/jobs/w1044/english-teacher--w1044.jpg); }
._entrepreneurship { background: linear-gradient(rgba(43,62,80,.7), rgba(43,62,80,.7)), url(img/jobs/w1044/product-designer--w1044.jpg); }
._jobboards { background: linear-gradient(rgba(43,62,80,.7), rgba(43,62,80,.7)), url(img/jobs/w1044/stock-videographer--w1044.jpg); }
._communities { background: linear-gradient(rgba(43,62,80,.7), rgba(43,62,80,.7)), url(img/jobs/w1044/social-media-curator--w1044.jpg); }
._other { background: linear-gradient(rgba(43,62,80,.7), rgba(43,62,80,.7)), url(img/jobs/w1044/3d-artist-animator--w1044.jpg); }
._section { background-repeat: no-repeat; background-position-x: center; background-size: cover; }

@media screen and (max-width: 768px) {
    ._menu { left: 0; right: 0; bottom: 50px; text-align: center; }
    ._slide ._header { padding: 20px; }
    ._quick-nav { display: none; }
    .card-link+.card-link { margin-left: 0; }
    ._container { max-width: 100%; }
}
@media screen and (max-width: 640px) {
    ._menu { bottom: 0px; }
    ._menu hr { display: none; }
    ._menu ._margin { margin: 0; display: inline; }

    body._is-scrolled ._menu { height: 48px; }
    body._is-scrolled ._menu ._margin { display: inline; }
    body._is-scrolled ._menu { font-size: 18px; padding: 13px 20px; white-space: nowrap; overflow-x: scroll; }
    
    body.is-mobile._is-scrolled ._menu { box-shadow: 1px 1px 11px 3px rgba(0,0,0,0.25), inset -10px 0px 11px -8px rgba(92,184,92,.5);  }
    body.is-mobile ._table-responsive {
        background: radial-gradient(farthest-side at 100% 50%, rgba(92,184,92,.5), rgba(92,184,92,0)) 100% 0;
        background-repeat: no-repeat;
        background-size: 5px 100%;
    }
}
@media screen and (max-width: 450px) {
    /* btns */
    ._btn-help, ._btn-workplacelist { padding: 3px 6px; font-size: 12px; }
    ._btn-help img { height: 14px; margin-top: -2px; }
    ._btn-help { left: 10px; right: initial; }
    ._second { font-size: 10px; opacity: .75; }
}
@media screen and (max-height: 600px) {
    ._menu { bottom: 25px; }
}
@media screen and (max-height: 575px) {
    ._menu { bottom: 0; }
}
@media screen and (max-height: 400px) {
    ._btn-help, ._btn-workplacelist, ._menu { display: none; }
}

/* <Made by ME widget> */
/* Source: https://www.tomatoid.com/@/wp-content/uploads/2019/03/malaysia_200x200.jpg */
#made-by-pn-widget { position: fixed; left: -4px; bottom: -4px; z-index: 1000; }
#made-by-pn-widget a { color: #0084b4; }
#made-by-pn-widget a:hover, #made-by-pn-widget a:active, #made-by-pn-widget a:focus { color: #00aced; }
#made-by-pn-widget .text { width: 150px; text-align: center; position: absolute; left: 5px; top: 15px; padding: 5px 10px; border-radius: 5px; background-color: white; font-size: 12px; font-family: 'Courier New', Courier, monospace; z-index: -1; line-height: 16px; }
#made-by-pn-widget .img-wrapper { border-radius: 50%; width: 56px; height: 56px; background-color: white; z-index: 1001; }
#made-by-pn-widget img { border-radius: 50%; width: 50px; height: 50px; margin: 3px 0 0 3px; z-index: 1001; }
@media screen and (max-width: 799px) { #made-by-pn-widget { display: none !important; } }
#made-by-pn-widget .img-wrapper, #made-by-pn-widget .text { -webkit-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.24); -moz-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.24); box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.24); }
#made-by-pn-widget:hover .text { left: 46px; }
/* </Made by ME widget> */
